//Colors
$color-dark: black;
$color-light: white;
$color-highlight: #f0ad4e;

//Fonts
$body-font: GeoEditMedium, Franklin Gothic Medium, Franklin Gothic,
  ITC Franklin Gothic, Helvetica, Arial, sans-serif;
$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 10px;
