@use 'variables';

.main-article {
  display: flex;
  flex-direction: column;
  background-image: url('../images/phone.jpg');
  background-size: cover;
  padding: 1rem;
  justify-content: flex-end;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-position: center;
  /* Always center the image */
}

.main-article-image {
  display: none;
}

.tip {
  color: $color-light;
}

a {
  text-decoration: none;
  color: $color-light;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.category-main {
  color: $color-light;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5;
  padding-bottom: 0.2rem;
  margin-bottom: 0;
}

.author-main {
  color: rgb(250, 208, 72);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 0.2rem;
  margin-bottom: 0;
}
